.header
  .top
    %h1.top__logo
      =link_to root_path do
        = image_tag "fmarket_logo_red.svg", alt: "mercari", width: 134, height: 36

    = form_tag(search_products_path, method: :get, class: 'top__search') do
      = text_field_tag :search, '', placeholder: "何かお探しですか？", class: 'top__search__form'
      = button_tag '', type: 'submit', class: 'top__search--icon' do
        = icon 'fas', 'search'
        
  .bottom.clearfix
    %ul.bottom__left
      %li.bottom__left__lists
        %h2.bottom__left__lists
          =link_to categories_path do
            = icon 'fas', 'list-ul', class: 'bottom__left__lists--icon'
            %span カテゴリーから探す
      %li.bottom__left__lists
        %h2.bottom__left__lists
          =link_to '' do
            = icon 'fas', 'tag', class: 'bottom__left__lists--icon'
            %span ブランドから探す

    - if user_signed_in?
      %ul.bottom__right
        %li.bottom__right__lists
          %h2.bottom__right__lists
            =link_to '' do
              = icon 'far', 'heart', class: 'bottom__right__lists--icon'
              %span いいね！一覧
        %li.bottom__right__lists
          %h2.bottom__right__lists
            =link_to '' do
              = icon 'far', 'bell', class: 'bottom__right__lists--icon'
              %span お知らせ
        %li.bottom__right__lists
          %h2.bottom__right__lists
            =link_to '' do
              = icon 'fas', 'check', class: 'bottom__right__lists--icon'
              %span やることリスト
        %li.bottom__right__lists
          %h2.bottom__right__lists
            =link_to users_path do
              = image_tag 'human.svg', class: 'bottom__right__lists--profile'
              %span マイページ
    - else
      %ul.bottom__right
        %li.bottom__right__btn
          =link_to signup_index_path, class: 'btn--left' do
            新規会員登録
        %li.bottom__right__btn
          =link_to new_user_session_path, class: 'btn--right' do
            ログイン
= render 'layouts/notifications'
